<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="layout/plantilla :: head">
      <title>Inicio</title>
  </head>

<body>

  <header th:replace="layout/plantilla :: header"></header>

    <!-- Page Content -->
    <div class="container">


      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">
        Spring eCommerce <small>Carrito</small>
      </h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}"><i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]</a></li>
        <!-- <div class="col-md-3">
          <a th:href="@{/}" class="btn btn-ligth btn-block">
              <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
          </a>
        </div> -->
        <li class="breadcrumb-item active">Carrito</li>
      </ol>

      <!-- Blog Post -->
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
           <div class="col-lg-9">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Producto</th>
                  <th scope="col">Precio</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Total</th>
                  <th scope="col">Acción</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="dorden:${carrito}">
                  <td th:text="${dorden.nombre}"></td>
                  <td th:text="${dorden.precio}"></td>
                  <td th:text="${dorden.cantidad}"></td>
                  <td th:text="${dorden.total}"></td>
                  <td><a th:href="@{/eliminar/carrito/{idProducto} (idProducto=${dorden.producto.idProducto})}" class="btn btn-danger">Quitar</a></td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="col-lg-3">
            <h2 class="card-title">SUBTOTAL</h2>

            <ul class="list-group">
              <li class="list-group-item"><h5 th:text="${orden.total}"></h5></li>
              <a href="resumenorden.html" class="btn btn-dark">Ver Orden</a>
            </ul>
          </div>

        </div>
      </div>
    </div>
    <!-- /.container -->
 
        <footer th:replace="layout/plantilla :: footer"></footer>        


  </body>

  </html>
